{% extends "template.html.jinja" %}
{% block title %}{{name}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: orange; }
    </style>
{% endblock %}
{% block content %}
    <div class="important">
        <p>Hello {{name}}!</p>
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Button
    </button>
{% endblock %}